<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">multi-tenant-sample</a>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="input-field">
      <input placeholder="Tenant Name" id="tenant_name" type="text" class="validate col s4" pattern="^[0-9A-Za-z]+$">
      <a class="waves-effect waves-light btn valign-wrapper" onclick="createTenant()">create</a>
    </div>
  </div>
</div>
